* {
    box-sizing: border-box;
}

body {
    background-color: #E7DFCA;
    border: 2.5px solid black;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    font-family: 'Bree Serif', serif;
    font-family: 'PT Serif', serif;
}

.foto {
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    min-width: 25%;
    max-width: 70%;
}

hr {
    max-width: 80%;
    max-height: 50px;
    border: 1px solid black;
    background-color: black;
    text-align: center;
    height: 0px;
}

.tudo {
    margin:50px;
    font-family: 'Bree Serif', serif;
    font-family: 'PT Serif', serif;
}

.texto {font-size: 20px;
width: 400px;}

.above {
    max-width: 100%;
    max-height: 50px;
    border: 1px solid black;
    background-color: black;
    text-align: center;
    height: 0px;
}



li,
a {
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 15px;
    font-family: 'Bree Serif', serif;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    margin-bottom:10px;
}

.foto {
    margin: 0 auto;
    padding: 0px;
    min-width: 25%;
    max-width: 70%;
}

h2 {
    text-align: center;
}

.imagem {
    width: 300px;
    height: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    gap: 1vw;
}

.flex>div {
    margin: 10px;
    flex: 1 1 200px;
}

button {
    background-color: #E7DFCA;
    border-radius: 20px;
}

.menuimg {
    width: 200px;
    margin-left: 25px;
    margin-top: 30px;
}

.duas-colunas{
    display: flex;
    
}

.duas-colunas > div{
justify-content: flex-start;
font-weight: bold;
}
